body{
    background-color: rgb(200, 240, 188);
    text-align: center;
}

img{
    margin: 60px 0 30px 0;
    width: 180px;
}

button{
    background-color: white;
    color: black;
    width: 200px;
    height: 30px;
}

button:hover{
    background-color: turquoise;
    cursor: pointer;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}